<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />
    <xacro:arg name="mujoco_model" default="" />
    <xacro:arg name="headless" default="false" />
    <xacro:arg name="sim_speed_factor" default="1.0" />

    <!-- Import panda urdf file -->
    <xacro:include filename="$(find moveit_resources_panda_description)/urdf/panda.urdf.xacro" />

    <!-- Import panda ros2_control description -->
    <xacro:include filename="panda.ros2_control.xacro" />
    <xacro:include filename="panda_hand.ros2_control.xacro" />

    <xacro:panda_ros2_control
        name="PandaSystem"
        initial_positions_file="$(arg initial_positions_file)"
        ros2_control_hardware_type="$(arg ros2_control_hardware_type)"
        mujoco_model="$(arg mujoco_model)"
        headless="$(arg headless)"
        sim_speed_factor="$(arg sim_speed_factor)"/>
    <xacro:panda_hand_ros2_control name="PandaHandFakeSystem" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>
</robot>
